<!DOCTYPE html>
<html>

<head>
	<title>404 - Page Not Found</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/css/error.css">
</head>

<body>
	<section class="error-container">
		<span>4</span>
		<span><span class="screen-reader-text">0</span></span>
		<span>4</span>
		<!-- <span>Page not Found</span> -->
	</section>
	<!-- <span>Page Not Found</span> -->
	<div class="link-container">
		<a target="_blank" href="/"
			class="more-link">Page not Found, Return to Homepage</a>
	</div>
</body>

</html>