<!DOCTYPE html>
<html>

<head>
	<title>Car-Lite Singapore</title>
	<meta name="viewport" content="width=1024">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<!-- for leaflet -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin="" />
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
		integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
		crossorigin=""></script>

	
	<!-- for leaflet custom styles and plugins-->
	<link rel="stylesheet" href="/static/css/MarkerCluster.css" />
	<link rel="stylesheet" href="/static/css/MarkerCluster.Default.css" />
	<script src="/static/js/leaflet.markercluster.js"></script>


	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

	<link rel="stylesheet" href="/static/css/styledLayerControl.css" />
	<script src="/static/js/styledLayerControl.js"></script>

    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<!-- for Dropdown List-->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    
	<!-- for Font -->
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/static/css/MapSmoo.css">
    <link rel="stylesheet" href="/static/css/sidenav.css" />
    <link rel="stylesheet" href="/static/css/loading.css" />
</head>

<body>

    <!-- Loading screen -->
	<div class="loader-wrapper"><div class="loading">
		<span>Loading</span>
		</div>
	</div>
	<!-- End of loading screen -->

	<!-- Side navigation menu -->
	<div id="mySidenav" class="sidenav2">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
		<a href="/map">Map</a>
		<a href="/compare" style="background-color: rgba(255,255,255,0.05);">Compare</a>
		<a href="/weightage">Adjust Matrices</a>
	</div>

	<div id="main">
		<span id="sidemenu" style="font-family: 'Raleway', sans-serif;font-size:30px;cursor:pointer" onclick="openNav()">
			<img class="pulse" src='/static/icons/menu2.png'>
		</span>

        <!--Contents-->
        <div id="body">

            <!-- <div class="header-compare">
                <h4><b>
                    <center>Compare Neighbourhoods</center>
                </b></h4>
            </div>
            <hr> -->
 
            <!-- START OF LEFT SECTION -->
            <div id="left-compare">

                <!-- START OF HEADING CONTAINER -->
                <div class="title-container">
                    
                    <!-- <h4><b>
                        <center>Subzone 1</center>
                    </b></h4> -->
                    <!-- <hr> -->
    
                    <div class="select-reset clearfix">
                        <!-- START OF SELECT DROPDOWN LIST -->  
                        <div id="select-compare" class="select-compare">
                            <select class="form-control select2 map1" id='firstList' name='firstList' onchange="zoomTo()">
                            </select> 
                        </div>

                        <script>
                            $('.map1').select2({ placeholder: "Zoom to neighbourhood" });
                        </script>
                        <!-- END OF SELECT DROPDOWN LIST -->

                        <!-- START OF RESET BUTTON -->
                        <div class="reset-compare">
                            <input type="button" class="btnresetzoom" onclick="reset()" value="Reset Zoom" />
                        </div>
                        <!-- END OF RESET BUTTON -->
                    </div>

                </div>
                <!-- END OF HEADING CONTAINER -->
                <br>

                <!-- START OF MAP -->
                <div id="map" style="width: 90%; height: 400px; position: relative; margin-left: 5%; margin-right: 5%;"></div>
                <!-- END OF MAP -->

                <!-- START OF SUBZONE BREAKDOWN -->
                <div class="subztable-compare">
                    <h5 id='subzone-selected'></h5>
                    <table class="table table-dark" id='metrictable'>
                        <thead>
                            <tr>
                                <th scope="col">Metric</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    Connectivity &nbsp;
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>&bull; Availability and accessibility of public transport <br>&bull; Availability of infrastructure for alternative modes of transport <br>&bull; Road intersection density</b>">
                                        <i><b>i</b></i>
                                    </button>
                                </th>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Land Use Mix &nbsp;
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>&bull; Diversity in land use <br>&bull; Proximity to essential facilities</b>">
                                        <i><b>i</b></i>
                                    </button>
                                </th>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Supporting Facilities &nbsp;
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>&bull; End-of-mile facilities <br>&bull; Sheltered areas</b>">
                                        <i><b>i</b></i>
                                    </button>
                                </th>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Parking Management &nbsp;
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>&bull; Availability of car park lots <br>&bull; Car park pricing</b>">
                                        <i><b>i</b></i>
                                    </button>
                                </th>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Additional Safety Features &nbsp;
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>&bull; Safe roads and walkways</b>">
                                        <i><b>i</b></i>
                                    </button>
                                </th>
                                <td>-</td>
                            </tr>
        
                            <tr class="bg-info">
                                <th scope="row">
                                    Car-lite Score &nbsp;
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>The higher the score, the more car-lite the neighbourhood &#128522;</b>">
                                        <i><b>i</b></i>
                                    </button>
                                </th>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- END OF SUBZONE BREAKDOWN -->
            </div>
            <!-- END OF LEFT SECTION -->

            <!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------ -->

            <!-- START OF RIGHT SECTION -->
            <div id="right-compare">

                <!-- START OF HEADING CONTAINER -->
                <div class="title-container">
                    
                    <!-- <h4><b>
                        <center>Subzone 2</center>
                    </b></h4> -->
                    <!-- <hr> -->
    
                    <div class="select-reset clearfix">
                        <!-- START OF SELECT DROPDOWN LIST -->  
                        <div class="select-compare">
                            <select class="form-control select2 map2" id='secondList' name='secondList' onchange="zoomTo2()">
                            </select> 
                        </div>

                        <script>
                            $('.map2').select2({ placeholder: "Zoom to neighbourhood" });
                        </script>
                        <!-- END OF SELECT DROPDOWN LIST -->

                        <!-- START OF RESET BUTTON -->
                        <div class="reset-compare">
                            <input type="button" class="btnresetzoom" onclick="reset2()" value="Reset Zoom" />
                        </div>
                        <!-- END OF RESET BUTTON -->
                    </div>

                </div>
                <!-- END OF HEADING CONTAINER -->
                <br>

                <!-- START OF MAP -->
                <div id="map2" style="width: 90%; height: 400px; position: relative; margin-left: 5%; margin-right: 5%;"></div>
                <!-- END OF MAP -->

                <!-- START OF SUBZONE BREAKDOWN -->
                <div class="subztable-compare">
                    <h5 id='subzone-selected2'></h5>
                    <table class="table table-dark" id='metrictable2'>
                        <thead>
                            <tr>
                                <th scope="col">Metric</th>
                                <th scope="col">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    Connectivity &nbsp;
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>&bull; Availability and accessibility of public transport <br>&bull; Availability of infrastructure for alternative modes of transport <br>&bull; Road intersection density</b>">
                                        <i><b>i</b></i>
                                    </button>
                                </th>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Land Use Mix &nbsp;
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>&bull; Diversity in land use <br>&bull; Proximity to essential facilities</b>">
                                        <i><b>i</b></i>
                                    </button>
                                </th>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Supporting Facilities &nbsp;
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>&bull; End-of-mile facilities <br>&bull; Sheltered areas</b>">
                                        <i><b>i</b></i>
                                    </button>
                                </th>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Parking Management &nbsp;
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>&bull; Availability of car park lots <br>&bull; Car park pricing</b>">
                                        <i><b>i</b></i>
                                    </button>
                                </th>
                                <td>-</td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Additional Safety Features &nbsp;
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>&bull; Safe roads and walkways</b>">
                                        <i><b>i</b></i>
                                    </button>
                                </th>
                                <td>-</td>
                            </tr>
        
                            <tr class="bg-info">
                                <th scope="row">
                                    Car-lite Score &nbsp;
                                    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="<b>The higher the score, the more car-lite the neighbourhood &#128522;</b>">
                                        <i><b>i</b></i>
                                    </button>
                                </th>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>

                    <script>
                        $(function () {
                              $('[data-toggle="tooltip"]').tooltip()
                        })
                    </script>

                </div>
                <!-- END OF SUBZONE BREAKDOWN -->
            </div>
            <!-- END OF RIGHT SECTION -->

            <input type="image" id="tutorial" src='/static/icons/tutorial.png' class='tutorial zoom' onclick="tour.start();"
            value="Tutorial" />
            <input type="image" id="popup-compare" src='/static/icons/matrices.png' class='popup zoom' onclick="popupOpen();"/>
            <input type="image" id="popup-legend" src='/static/icons/legend.png' class='legend zoom' onclick="compareLegendOpen();"
            value="legend" />

            
			<!-- START OF POPUP -->
			<div class='popup-container'>
				
				<div class='popup-title'>
					<h4><center><b>Matrices Weightage</b></center></h4>
				</div>
				
				<button onclick='popupClose()'>
					<span>&times;</span>
				</button>
				
				<div id='popup-left' class='popup-section'>

					<h6><b>Connectivity</b></h6>
					<table class="table table-dark" id="popup-table">
						<tbody>
							<tr>
								<th scope="row">
									Availability and accessibility of public transport
								</th>
								<td id="availPublic">20</td>
							</tr>
							<tr>
								<th scope="row">
									Availability of infrastructure for alternative modes of transport
								</th>
								<td id="availAlt">15</td>
							</tr>
							<tr>
								<th scope="row">
									Road intersection density
								</th>
								<td id="roadInt">5</td>
							</tr>
						</tbody>
					</table>

					<br>
					<h6><b>Land Use Mix</b></h6>
					<table class="table table-dark" id="popup-table">
						<tbody>
							<tr>
								<th scope="row">
									Diversity in land use
								</th>
								<td id="divesityLand">10</td>
							</tr>
							<tr>
								<th scope="row">
									Proximity to essential facilities
								</th>
								<td id="proximityFacil">15</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div id='popup-right' class='popup-section'>

					<h6><b>Supporting Facilities</b></h6>
					<table class="table table-dark" id="popup-table">
						<tbody>
							<tr>
								<th scope="row">
									End-of-mile facilities
								</th>
								<td id="endMile">5</td>
							</tr>
							<tr>
								<th scope="row">
									Sheltered areas
								</th>
								<td id="shelter">10</td>
							</tr>
						</tbody>
					</table>

					<br>
					<h6><b>Parking Management</b></h6>
					<table class="table table-dark" id="popup-table">
						<tbody>
							<tr>
								<th scope="row">
									Availability of car park lots
								</th>
								<td id="carLots">5</td>
							</tr>
							<tr>
								<th scope="row">
									Car park pricing
								</th>
								<td id="carPricing">5</td>
							</tr>
						</tbody>
					</table>

					<br>
					<h6><b>Pedestrian Safety</b></h6>
					<table class="table table-dark" id="popup-table">
						<tbody>
							<tr>
								<th scope="row">
									Safe roads and walkways
								</th>
								<td id="safetys">10</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
            <!-- END OF POPUP -->
            
            
            <!-- START OF LEGEND POPUP -->
			<div class='compare-legend'>
	
				<div class='popup-title'>
					<h4><center><b>Legend</b></center></h4>
				</div>
				
				<button onclick='compareLegendClose()'>
					<span>&times;</span>
				</button>
				
				<div class='legend-section'>
					<table class="table" id="legend-table">
						<tbody>
							<tr>
								<th scope="row">
									Sheltered Areas
								</th>
								<td><img src="static/icons/sheltered-areas-legend.png" style="height:19px;"></td>
							</tr>
							<tr>
								<th scope="row">
									Cycling Paths
								</th>
								<td><img src="static/icons/cycling-path-legend.png" style="height:19px;"></td>
							</tr>
							<tr>
								<th scope="row">
									Road Crossings
								</th>
								<td><img src="static/icons/road-crossings-legend.png" style="height:19px;"></td>
							</tr>
							<tr>
								<th scope="row">
									School Zones
								</th>
								<td><img src="static/icons/school-zones-legend.png" style="height:19px;"></td>
							</tr>
							<tr>
								<th scope="row">
									Silver Zones
								</th>
								<td><img src="static/icons/silver-zones-legend.png" style="height:19px;"></td>
							</tr>
							<tr>
								<th scope="row">
									Road Humps
								</th>
								<td><img src="static/icons/road-humps-legend.png" style="height:19px;"></td>
							</tr>
							<tr>
								<th scope="row">
									Speed Regulating Strips
								</th>
								<td><img src="static/icons/speed-reg-legend.png" style="height:19px;"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!-- TO FADE CONTENT WHEN LEGEND OPENS -->
			<div id="for-compare-wrap" onclick='compareLegendClose();'>
			</div>

			<!-- END OF LEGEND POPUP -->
            
        </div>

        <!-- TO FADE CONTENT WHEN MENU OPENS -->
		<div id="for-wrap" onclick='closeNav()'>
        </div>
        
        <!-- TO FADE CONTENT WHEN WEIGHTAGE POP UP OPENS -->
        <div id="for-weightage">
		</div>

    </div>
    
    <script type="text/javascript" src="/static/js/map.js"></script>
    <script type="text/javascript" src="/static/js/map2.js"></script>
	<script type="text/javascript" src="/static/js/sidenav.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/shepherd.js@5.0.1/dist/js/shepherd.js"></script>
    <script type="text/javascript" src="/static/js/guide-compare.js"></script>
    <script type="text/javascript" src="/static/js/popup.js"></script>

    <!-- LOADING SCREEN -->
    <!-- <script>
        $(window).on("load",function(){
            console.log('start')
        $(".loader-wrapper").delay(4000).fadeOut(100)
            console.log('end')
			});
    </script> -->

</body>

</html>