<!DOCTYPE html>
<html>

<head>
    <title>Matrices</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/css/MapSmoo.css">
    <link rel="stylesheet" href="/static/css/sidenav.css">
    <link rel="stylesheet" href="/static/css/matrices.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=1024">
	<!-- for Font -->
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+2:400,800&display=swap" rel="stylesheet">

    
</head>

<body>

    <div id="mySidenav" class="sidenav2">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="/map">Map</a>
		<a href="/compare">Compare</a>
        <a href="/" style="background-color: rgba(255,255,255,0.05);">Matrices</a>
        <a href="/weightage">Adjust Matrices</a>
    </div>

    <div id='landing'>
        <!-- <p>Hello,<Br/>World!</p>       -->
        <!-- <p id="demo"></p>   -->
        <span id='landingpara' class='demo'>
            <p id="typewriter" data-typewriter="Liveable, Sustainable, Car-lite Singapore"></p>
            <span class="blinking-cursor">|</span>
        </span>
        
        <!-- Scroll -->
        <a class='scrolldown' href="#main" onclick="scrollTopAnimated"></a>
    </div>
    
	<div id="main">
		<span id="sidemenu" style="font-family: 'Raleway', sans-serif;font-size:30px;cursor:pointer" onclick="openNav()">
			<img src='static/icons/menu2.png'>
        </span>

        <div id="body">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                <h2>Car-lite Scoring</h2>
                <p id="description">
                    Going car-lite benefits our communities, it empowers us to give the streets back to people and enables us to be more sustainable. As we become more car-lite here in Singapore, it is an important first step to understand what the factors in our built environment that enables or dissuades car-lite behavior. This project explores those variables by coming up with matrices, to measure and map the car-lite score of 332 neighborhoods in Singapore.
                </p>
                </div>
            </div>


            <div class='row dashboard-cards justify-content-center'>
                
                <!-- Connectivity -->
                <div class='card col-md-4'>
                    <div class='card-title'>
                        <img src='static/matrices_img/connectivity.png' class='center'>
                        <br>
                        <h2>
                            Connectivity
                        </h2>
                        <div class='task-count'>
                            40%
                        </div>
                    </div>
                    <div class='card-flap flap1'>
                        <div class='card-description'>
                            <ul class='task-list'>
                                <li class="list">
                                    <b>Availability and accessibility of public transport</b>
                                    <p>The availability and proximity of public transport to home and work encourages the use of public
                                        transport</p>
                                    <p class='points'>20 pts</p>
                                </li>
                                <li class="list">
                                    <b>Availability of infrastructure for alternative modes of transport</b>
                                    <p>The availability and proximity of public transport to home and work encourages the use of public
                                        transport</p>
                                    <p class='points'>15 pts</p>
                                </li>
                                <li class="list">
                                    <b>Road intersection density</b>
                                    <p>Areas with higher number of intersections offer more direct routes to navigate an area,
                                        increasing connectivity. This reduces the need for travel by car</p>
                                    <p class='points'>5 pts</p>
                                </li>
                            </ul>
                        </div>
                        <div class='card-flap flap2'>
                            <div class='card-actions'>
                                <a class='btn' href='#'>Close</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Land use mix -->
                <div class='card col-md-4'>
                    <div class='card-title'>
                        <img src='static/matrices_img/landuse.png' class='center'>
                        <br>
                        <h2>
                            Land Use Mix
                        </h2>
                        <div class='task-count'>
                            25%
                        </div>
                    </div>
                    <div class='card-flap flap1'>
                        <div class='card-description'>
                            <ul class='task-list'>
                                <li class="list">
                                    <b>Diversity in land use</b>
                                    <p>A good mix of land uses reduces the need to travel outside the neighbourhood</p>
                                    <p class='points'>10 pts</p>
                                </li>
                                <li class="list">
                                    <b>Proximity to essential facilities</b>
                                    <p>
                                        Easy access to various amenities provides convenience and encourages active modes of transport
                                        like cycling and walking
                                        <br><br>
                                        <b><u>Essential facilities include</u></b>
                                        <div class="facil">
                                            <ul>
                                                <li>
                                                    <b>Medical facilities</b>
                                                    <br>
                                                    Polyclinics, hospitals, CHAS clinics
                                                </li>
                                                <li>
                                                    <b>Schools</b>
                                                    <br>
                                                    Primary and secondary
                                                </li>
                                                <li>
                                                    <b>Amenities</b>
                                                    <br>
                                                    Preschools, eldercare, parks
                                                </li>
                                                <li>
                                                    <b>Source of food</b>
                                                    <br>
                                                    Hawker centres, supermarkets
                                                </li>
                                            </ul>
                                        </div>
                                    </p>
                                    <p class='points'>15 pts</p>
                                </li>
                            </ul>
                        </div>
                        <div class='card-flap flap2'>
                            <div class='card-actions'>
                                <a class='btn' href='#'>Close</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Supporting Facilities -->
                <div class='card col-md-4'>
                    <div class='card-title'>
                        <img src='/static/matrices_img/supportingfacil.png' class='center'>
                        <br>
                        <h2>
                            Supporting Facilities
                        </h2>
                        <div class='task-count'>
                            15%
                        </div>
                    </div>
                    <div class='card-flap flap1'>
                        <div class='card-description'>
                            <ul class='task-list'>
                                <li class="list">
                                    <b>End-of-mile facilities</b>
                                    <p>The availability of end-of-mile facilities like bike parking provides a more convenient cycling environment, encouraging more people to pursue cycling as a mode of transportation</p>
                                    <p class='points'>5 pts</p>
                                </li>
                                <li class="list">
                                    <b>Sheltered areas</b>
                                    <p>The availability of shaded areas and sheltered walkways encourages active modes of transport like walking and cycling</p>
                                    <p class='points'>10 pts</p>
                                </li>
                            </ul>
                        </div>
                        <div class='card-flap flap2'>
                            <div class='card-actions'>
                                <a class='btn' href='#'>Close</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Parking Management -->
                <div class='card col-md-4'>
                    <div class='card-title'>
                        <img src='/static/matrices_img/parking.png' class='center'>
                        <br>
                        <h2>
                            Parking Management
                        </h2>
                        <div class='task-count'>
                            10%
                        </div>
                    </div>
                    <div class='card-flap flap1'>
                        <div class='card-description'>
                            <ul class='task-list'>
                                <li class="list">
                                    <b>Availability of car park lots</b>
                                    <p>Reducing car park availability visibly discourages the use of cars by placing a disincentive to drive in the neighbourhood</p>
                                    <p class='points'>5 pts</p>
                                </li>
                                <li class="list">
                                    <b>Car park pricing</b>
                                    <p>Higher parking fees discourage the use of cars by placing a disincentive to drive in the neighbourhood</p>
                                    <p class='points'>5 pts</p>
                                </li>
                            </ul>
                        </div>
                        <div class='card-flap flap2'>
                            <div class='card-actions'>
                                <a class='btn' href='#'>Close</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Safety -->
                <div class='card col-md-4'>
                    <div class='card-title'>
                        <img src='/static/matrices_img/safety.png' class='center'>
                        <br>
                        <h2>
                            Pedestrian Safety
                        </h2>
                        <div class='task-count'>
                            10%
                        </div>
                    </div>
                    <div class='card-flap flap1'>
                        <div class='card-description'>
                            <ul class='task-list'>
                                <li class="list">
                                    <b>Safe roads and walkways</b>
                                    <p>Safer roadways and walkways make pedestrians feel safer, empowering even the vulnerable groups (children and elderly) to use walkways instead of relying on transportation by cars. More road safety features will make roads safer for pedestrians and encourage walking</p>
                                    <p class='points'>10 pts</p>
                                </li>
                            </ul>
                        </div>
                        <div class='card-flap flap2'>
                            <div class='card-actions'>
                                <a class='btn' href='#'>Close</a>
                            </div>
                        </div>
                    </div>
                </div>

              </div>  
        </div>
    </div>

    <!-- TO FADE CONTENT WHEN MENU OPENS -->
    <div id="for-wrap" onclick='closeNav()'>
    </div>

    <script type="text/javascript" src="/static/js/sidenav.js"></script>
    <script type="text/javascript" src="/static/js/matrices.js"></script>
    <script type="text/javascript" src="/static/js/homepage.js"></script>

</body>

</html>