#content {
    background-color: rgb(59,60,62);
}

.jumbotron {
    background-color: rgb(59,60,62);
    color: #f4f4f4;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
  background-color: rgb(59,60,62);
}

/* Dashboard Cards */
.dashboard-cards {
  position: relative;
  padding-bottom: 50px;
  margin: 0 !important;
}
.dashboard-cards .card {
  background: #f4f4f4;
  display: inline-block;
  -webkit-perspective: 1000;
          perspective: 1000;
  z-index: 20;
  padding: 0 !important;
  margin: 0px 50px 40px 50px;
  position: relative;
  text-align: left;
  -webkit-transition: all 0.3s 0s ease-in;
  transition: all 0.3s 0s ease-in;
  z-index: 1;
  width: calc(33.33333333% - 10px);
  cursor: pointer;
  transition: all 0.3s ease;
}
.dashboard-cards .card:hover {
      box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
  transition: all 0.3s ease;
}
.dashboard-cards .card .card-title {
  background: #f4f4f4;
  padding: 20px 15px;
  position: relative;
  z-index: 0;
}
.dashboard-cards .card .card-title h2 {
  font-size: 24px;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}
.dashboard-cards .card .card-description {
  position: relative;
  font-size: 15px;
  border-top: 1px solid #ddd;
  padding: 10px 15px 0 15px;
}
.dashboard-cards .card .card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding: 10px;
  text-align: center;
}
.dashboard-cards .card .card-flap {
  background: #d9d9d9;
  position: absolute;
  width: 100%;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.dashboard-cards .card .flap1 {
  -webkit-transition: all 0.3s 0.3s ease-out;
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
.dashboard-cards .card .flap2 {
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
.dashboard-cards.showing .card {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
}
.dashboard-cards .no-touch .dashboard-cards.showing .card:hover {
  opacity: 0.94;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
}
.dashboard-cards .card.d-card-show {
  opacity: 1 !important;
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
.dashboard-cards .card.d-card-show .card-flap {
  background: #f4f4f4;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
.dashboard-cards .card.d-card-show .flap1 {
  -webkit-transition: all 0.3s 0s ease-out;
  transition: all 0.3s 0s ease-out;
}
.dashboard-cards .card.d-card-show .flap2 {
  -webkit-transition: all 0.3s 0.2s ease-out;
  transition: all 0.3s 0.2s ease-out;
}
.dashboard-cards .card .task-count {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 22px;
  right: 10px;
  background: rgb(221,221,221);
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
  color: rgb(66,74,82);
  font-weight: 600;
  transition: all .2s ease;
}

/* Task List */
.dashboard-cards .task-list {
	padding: 0 !important;
}
.dashboard-cards .task-list .list{
  padding: 10px 0;
  padding-left: 10px;
  margin: 3px 0;
	list-style-type: none;
  border-bottom: 1px solid #e9ebed;
  border-left: 3px solid rgb(119,187,184);
  transition: all .2s ease;
}
.dashboard-cards .task-list .facil li{
    padding: 2px 0px 2px 10px;
    /* padding-left: 10px; */
    margin: 3px 0;
      list-style-type: none;
    /* border-bottom: 1px solid #e9ebed; */
    border-left: 1px solid rgb(119,187,184);
    transition: all .2s ease;
  }
.dashboard-cards .task-list .facil ul{
padding: 0px 10px 10px 10px;
}
/* .dashboard-cards .task-list li:hover {
  background: #ecf0f1;
  transition: all .2s ease;
} */
.dashboard-cards .task-list .points {
  text-align: right;
  color: rgb(0,152,179);
  font-weight: 700;
  font-size: 14px;
  margin-right: 5px;
}
.dashboard-cards.showing .card.d-card-show .task-count {
  color: rgb(66,74,82);
  background: rgb(170,217,213);
  transition: all .2s ease;
}
.dashboard-cards .card-actions .btn {
	color: #333;
}
.dashboard-cards .card-actions .btn:hover {
	color: rgb(119,187,184);
}

.card-title {
    margin-bottom: 0px;
}

.card-title img {
    height:50px;
    width:50px;
}

.card-title h2 {
    text-align: center;
}

p {
    margin-bottom: 0px;
}

/* LANDING SECTION */

#landing {
  min-height: 100vh;
  margin: 0;
  display: grid;
  /* place-items: center; */
  font: 2vw system-ui;
  /* background-color: #f9cdad; */
  content: ' ';
}

#landing #landingpara {
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 5s ease-in-out infinite;
          animation: float 5s ease-in-out infinite;
  mix-blend-mode: multiply;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 15px;
  color: #774f38;
  background-color: #ece5ce;
  padding: 50px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px rgb(119,197,184);
  font-family: "Baloo 2", cursive;
  width: 40%;
  height: 25%;
  margin: auto;
}

#landing #landingpara:after {
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float2 5s ease-in-out infinite;
          animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-fill-color: #ece5ce;
  text-shadow: 22px 22px rgb(119,197,184);
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: #ece5ce;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px rgb(119,197,184);
  z-index: -2;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@-webkit-keyframes float2 {
  0% {
    line-height: 30px;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  55% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
@keyframes float2 {
  0% {
    line-height: 30px;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  55% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

#landing {
  color: black;
  content: ' ';
}

/* TYPEWRITER */
#typewriter {
display: inline;
}
.blinking-cursor {
-webkit-animation: 1s blink step-end infinite;
-moz-animation: 1s blink step-end infinite;
-ms-animation: 1s blink step-end infinite;
-o-animation: 1s blink step-end infinite;
animation: 1s blink step-end infinite;
}

@keyframes "blink" {
from,
to {
  color: transparent;
}
50% {
  color: black;
}
}

@-moz-keyframes blink {
from,
to {
  color: transparent;
}
50% {
  color: black;
}
}

@-webkit-keyframes "blink" {
from,
to {
  color: transparent;
}
50% {
  color: black;
}
}

@-ms-keyframes "blink" {
from,
to {
  color: transparent;
}
50% {
  color: black;
}
}

@-o-keyframes "blink" {
from,
to {
  color: transparent;
}
50% {
  color: black;
}
}

#typewriter {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 25px;
  color: #774f38;
}

.blinking-cursor {
  font-size: 25px;
}

/* Scroll button ------------------------------------------------------------*/
#landing a {
	position: absolute;
	bottom: 80px;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb05 1.5s infinite;
	animation: sdb05 1.5s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
@keyframes sdb05 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}

.demo a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font: normal 400 20px/1 "Josefin Sans", sans-serif;
	letter-spacing: 0.1em;
	text-decoration: none;
	transition: opacity 0.3s;
}
.demo a:hover {
	opacity: 0.5;
}